# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su

# Python
*.pyc

# Build folders
_build/

# Other
video/
peripheral/martinsbl/
peripheral/nrf5-mpu-data-ready-interrupts/
peripheral/nrf5-mpu-simple/
logic-analyser/
non-git/